<div *ngIf="orderService.orders as orders">
  <h1>Manage Orders</h1>
  <table class="table">
      <thead>
          <tr>
              <th>Date</th>
              <th>Expense</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let o of orders">
              <td>{{ o.createTime | date:'medium' }}</td>
              <td>{{ o.totalPrice | currency:'USD':'symbol' }}</td>
              <td><a routerLink="/my-orders/{{ o._id }}">View</a></td>
          </tr>
      </tbody>
     
  </table>
</div>