.my-clickable {
  cursor: pointer;
}
.fas {
  position: absolute;
  z-index: -1;
}
.page-item {
  cursor: pointer;
}

.btn-wrapper {
  display: inline-block;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  background-size: cover;
}
