<div *ngIf="cartService.cart as c">
    <h1>Shopping Cart</h1>
    <ng-container *ngIf="c.items.length > 0; else elseTemplate">
        <p>You have {{ c.getTotalQuantity() || 0 }} items in your shopping cart.<button *ngIf="c.getTotalQuantity() > 0"
                (click)="clearCart()" class="btn btn-outline-secondary ml-3">Clear Shopping Cart</button>
        </p>
    </ng-container>
    <ng-template #elseTemplate>
        <p>Your shopping cart is empty. </p>
    </ng-template>

    <table class="table" *ngIf="c.items.length > 0">

        <thead>
            <tr>
                <th style="width: 150px;">Product</th>
                <th></th>
                <th class="text-center" style="width: 250px;">Quantity</th>
                <th class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of c.items">
                <td scope="row">
                   <a routerLink="/products/{{ item.product._id }}"> <div [style.backgroundImage]="'url('+item.product.imageUrl+')'" class="rounded-circle thumbnail"></div></a>
                </td>
                <td>{{ item.product.title }}</td>
                <td>
                    <app-product-selector [product]="item.product"></app-product-selector>
                </td>
                <td class="text-right">{{ item.product.price | currency:'USD':'symbol' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <th><button (click)="checkOut()" class="btn btn-danger">Check Out</button></th>
            <th colspan="2"></th>
            <th class="text-right">Total: <span class="pl-4">{{ c.getTotalPrice() | currency:'USD':'symbol' }}</span> </th>
        </tfoot>
    </table>
</div>