<p>
    <a routerLink="/admin/products/new" class="btn btn-success">New Product</a>
</p>
<div class="form-group">
    <input class="form-control d-inline" id="query" #query (keyup)="filter(query.value)" type="text" placeholder="Search...">
</div>
<table class="table" *ngIf="page">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of page.content">
            <td>{{ p.title }}</td>
            <td>{{ p.price }} </td>
            <td><a class="btn btn-outline-primary" [routerLink]="['/admin/products/', p._id]">Edit</a>
                <button class="btn btn-outline-danger" (click)="deleteProduct(p._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation" *ngIf="page">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="page.isFirstPage && {'disabled': true }">
            <a class="page-link" (click)="previousPage()">Previous</a>
        </li>
        <li *ngFor="let number of getPageNumbers(3)" class="page-item">
            <a class="page-link" (click)="getPage(number)">{{ number }}</a>
        </li>
        <li class="page-item" [ngClass]="page.isLastPage && {'disabled': true }">
            <a class="page-link" (click)="nextPage()">Next</a>
        </li>
    </ul>
</nav>