/* You can add global styles to this file, and also import other style files */

// overide bootstrap variables
$primary: #00796b;

// add or modify theme colors
$theme-colors: (
  'teal': #18a7b5
);

@import '~bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

body {
  padding-top: 80px;
}
